@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.letra{
    
    font-family: 'Bowlby One SC', cursive;
    color: aliceblue;
    height: 15rem;


}
.letrai{
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    height: 8rem;
    text-align: center;
    font-size: 2rem;

}
.fondoBaner{
    
    background-color: rgb(7, 50, 245);
}
.centrarimg{
    position: absolute;
    top:5rem;
    left:5rem;
   
    padding-bottom: 30rem;

}
