

<div class="container-fluid fondoBaner ">
        <div class="row justify-content-center">
            <div class="col-3 letra d-flex align-items-center">
            {{nombre}}
            </div>
            <div class="col-6 centrado ">
              <div class="d-flex justify-content-center align-items-center letrai">Pagina personal</div>
                <img  class="fixed-top justify-content-center centrarimg" src="../../assets/fonts/imagen1.jpg" alt="">
                
            </div>
            <div class="col-3"></div>
        </div>
</div>